.aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutContainer {
  padding: 40px 100px 0 100px;
  display: flex;
  flex-direction: column;
}

.aboutImg {
  width: 100%;
  border-radius: 25px;
  background-size: cover;
}
