.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 20px 0 20px;
  @media (min-width: $min-width) {
    padding: 40px 20px 0 20px;
  }
  @media (min-width: 1240px) {
    padding: 40px 0 0 0;
  }
}

.headerLogo {
  height: 47px;
  width: 145px;
  @media (min-width: $min-width) {
    height: 68px;
    width: 210.32px;
  }
}
