.headerNav {
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 376px) {
    padding: 40px 100px 0 100px;
  }
}

.headerLogo {
  height: 47px;
  @media (min-width: 376px) {
    font-size: 68px;
  }
}
